<!-- HTML -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- HEAD -->

<head th:include="/template_admin.html::head"></head>

<!-- BODY -->

<body style="background-color: #F8F8F8;">

	<!-- SPINNER -->
	<div th:include="/template_admin.html::spinner"></div>

	<!-- CONTAINER -->
	<div class="container">

		<!-- Outer Row -->
		<div class="row justify-content-center">

			<div class="col-xl-10 col-lg-12 col-md-9">

				<div class="card o-hidden border-0 shadow-lg my-5">
					<div class="card-body p-0">
						<!-- Nested Row within Card Body -->
						<div class="row">
							<a th:href="@{/}" class="col-lg-6 d-none d-lg-block"><img
									style="background-position: center; background-size: cover;"
									src="./img/imgOlvPwd.webp" alt="imgOlvPwd"></a>
							<div class="col-lg-6">
								<div class="p-5">
									<div class="text-center">
										<h1 class="h4 text-gray-900 mb-2">[[#{h1.resettear.password}]]</h1>
									</div>
									<hr>
									<form id="form" class="user" th:action="@{/reset_password}" method="post">
										<input type="hidden" name="token" th:value="${token}" />


										<div class="col-12 p-1">
											<label class="custom-control"
												for="customCheck">[[#{reset.password.label.contrasena}]]<span
													style="color: red;">*</span></label>

											<div class="input-group">
												<input type="password" class="form-control" name="password" id="pwd"
													placeholder="     Ingrese su Contraseña" required>
												<div class="input-group-append">
													<span class="input-group-text"
														style="padding: 0 !important;"><button style="border: 0;"
															type="button" class="btn" id="x"><i id="yes"
																class="fa-solid fa-eye"></i><i id="no"
																class="fa-solid fa-eye-slash d-none"></i></button></span>
												</div>
											</div>
										</div>

										<div class="col-12 p-1">
											<label class="custom-control"
												for="customCheck">[[#{label.confirmar.contrasena}]]<span
													style="color: red;">*</span></label>

											<div class="input-group">
												<input type="password" class="form-control" id="word" required
													placeholder="     Reitere la contraseña">
											</div>
										</div>

										<!-- ///////////////////////////////////////////// TRADUCIR ///////////////////////////////////////////// -->
										<div id="length" class="alert alert-danger text-center d-none"
											style="padding: 3px !important; margin-bottom: 5px !important;"
											role="alert">
											Debe ser mayor a 8 caracteres
										</div>
										<div id="uppercase" class="alert alert-danger text-center d-none"
											style="padding: 3px !important; margin-bottom: 5px !important;"
											role="alert">
											Debe contener al menos una letra mayúscula
										</div>
										<div id="lowercase" class="alert alert-danger text-center d-none"
											style="padding: 3px !important; margin-bottom: 5px !important;"
											role="alert">
											Debe contener al menos una letra minúscula
										</div>
										<div id="number" class="alert alert-danger text-center d-none"
											style="padding: 3px !important; margin-bottom: 5px !important;"
											role="alert">
											Debe contener al menos un número
										</div>
										<div id="especial" class="alert alert-danger text-center d-none"
											style="padding: 3px !important; margin-bottom: 5px !important;"
											role="alert">
											Debe contener al menos un caracter especial
										</div>
										<div id="coincide" class="alert alert-danger text-center d-none"
											style="padding: 3px !important; margin-bottom: 5px !important;"
											role="alert">
											Las contraseñas no coinciden
										</div>

										<input type="submit" value="Change Password"
											class="btn btn-outline-primary btn-user btn-block text-uppercase mt-4" />
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>

		</div>

	</div>

	<!-- SCRPIPTS -->
	<div th:include="/template_admin.html::scripts"></div>
	<script src="/js/password/passwordRes.js"></script>

</body>

</html>