<!-- HTML -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- HEAD -->

<head th:include="/template_admin.html::head"></head>

<!-- BODY -->

<body style="background-color: #F8F8F8;">

	<!-- SPINNER -->
	<div th:include="/template_admin.html::spinner"></div>

	<!-- CONTAINER -->
	<div class="container">

		<div class="card o-hidden border-0 shadow-lg my-5">
			<div class="card-body p-0">
				<!-- Nested Row within Card Body -->
				<div class="row">
					<a th:href="@{/}" class="col-5 col-lg-6 d-none d-lg-block"><img
							style="background-position: center; background-size: cover;" src="./img/imgReg.webp"
							alt="imgResgister"></a>
					<div class="col-7 col-lg-6">
						<div class="p-5" style="padding-bottom: 0 !important;">
							<div class="text-center">
								<h1 class="h4 text-gray-900 mb-4">[[#{h1.Crea.Una.Cuenta}]]</h1>
							</div>
							<form id="form" class="user" th:action="@{/process_register}" th:object="${user}"
								method="post">
								<div class="row">

									<div class="col-12">
										<label class="custom-control"
											for="customCheck">[[#{label.Correo.Electronico.signupForm}]] <span
												style="color: red;">*</span>
										</label>
										<div class="form-group">
											<input type="email" class="form-control "
												aria-describedby="emailHelp" th:field="*{email}"
												placeholder="     Ingrese su email">
										</div>
									</div>

									<div class="col-6">
										<label class="custom-control"
											for="customCheck">[[#{label.Contrasena.SignupForm}]]
											<span style="color: red;">*</span>
										</label>

										<div class="input-group">
											<input type="password" class="form-control" name="password" id="pwd"
												aria-describedby="emailHelp" th:field="*{password}"
												placeholder="     Ingrese su Contraseña" required>
											<div class="input-group-append">
												<span class="input-group-text" style="padding: 0 !important;"><button
														style="border: 0;" type="button" class="btn" id="x"><i id="yes"
															class="fa-solid fa-eye"></i><i id="no"
															class="fa-solid fa-eye-slash d-none"></i></button></span>
											</div>
										</div>
									</div>

									<div class="col-6">
										<label class="custom-control"
											for="customCheck">[[#{label.Confirme.Contrasena.SignupForm}]]</label>

										<div class="input-group">
											<input type="password" class="form-control" id="word" required
												aria-describedby="emailHelp" placeholder="     Reitere la contraseña">
										</div>
									</div>

									<div class="col-6">
										<label class="custom-control" for="customCheck">[[#{label.Nombre.SignupForm}]]
											<span style="color: red;">*</span>
										</label>
										<div class="form-group">
											<input type="text" class="form-control `" th:field="*{firstName}"
											    aria-describedby="emailHelp" required
												placeholder="     Ingrese su nombre">
										</div>
									</div>

									<div class="col-6">
										<label class="custom-control" for="customCheck">[[#{label.Apellido.SignupForm}]]
											<span style="color: red;">*</span>
										</label>
										<div class="form-group">
											<input type="text" class="form-control `"
												aria-describedby="emailHelp" th:field="*{lastName}" required
												placeholder="     Ingrese su nombre">
										</div>
									</div>

									<!-- ///////////////////////////////////////////// TRADUCIR ///////////////////////////////////////////// -->
									<div id="length" class="alert alert-danger text-center d-none"
										style="padding: 3px !important; margin-bottom: 5px !important;" role="alert">
										[[#{p.alert1}]]
									</div>
									<div id="uppercase" class="alert alert-danger text-center d-none"
										style="padding: 3px !important; margin-bottom: 5px !important;" role="alert">
										[[#{p.alert2}]]
									</div>
									<div id="lowercase" class="alert alert-danger text-center d-none"
										style="padding: 3px !important; margin-bottom: 5px !important;" role="alert">
										[[#{p.alert3}]]
									</div>
									<div id="number" class="alert alert-danger text-center d-none"
										style="padding: 3px !important; margin-bottom: 5px !important;" role="alert">
										[[#{p.alert4}]]
									</div>
									<div id="especial" class="alert alert-danger text-center d-none"
										style="padding: 3px !important; margin-bottom: 5px !important;" role="alert">
										[[#{p.alert5}]]
									</div>
									<div id="coincide" class="alert alert-danger text-center d-none"
										style="padding: 3px !important; margin-bottom: 5px !important;" role="alert">
										[[#{p.alert6}]]
									</div>

									<button type="submit" class="btn btn-outline-primary btn-user btn-block text-uppercase">
										[[#{button.CrearCuenta.SignupForm}]]</button>
								</div>
							</form>
							<hr>
							<div class="text-center">
								<a class="small" th:href="@{/forgot_password}">[[#{a.OlvidoContrasena.SignupForm}]]</a>
							</div>
							<div class="text-center">
								<a class="small" th:href="@{/login}">[[#{a.YaTieneCuenta.SignupForm}]] <span
										style="font-weight: 800;"> [[#{span.IniciaSesion.SignupForm}]]</span></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

	<!-- SCRPIPTS -->
	<div th:include="/template_admin.html::scripts"></div>
	<script src="/js/password/passwordReg.js"></script>

</body>

</html>